[submodule "random_tidbit/my-python-for-android"]
	path = random_tidbit/my-python-for-android
	url = https://github.com/tomasohara/python-for-android
	branch = my-development
[submodule "random_tidbit/mezcla"]
	path = random_tidbit/mezcla
	url = https://github.com/tomasohara/mezcla
	branch = development
